/*
Name: 
Date: 
*/

:root{
    --main-bg-colour: #F2D666;
    --sec-bg-colour: #FF9500;
    --main-colour: #000000;
    --sec-colour: #FF0000;
}

.container{ /*DO NOT REMOVE OR EDIT*/
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "side1 section1 section1"
    "section2 videoSection side2"
    "references references references"
    "footer footer footer";
}

.container > div{ /*DO NOT REMOVE*/
    padding: 10px;
}

.header{ /*DO NOT REMOVE*/
    grid-area: header;
    background-color: #F2D666 ;
    color: var(--main-colour);
    text-align: center;
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-size: 30px;
}

.main{ /*DO NOT REMOVE*/
   grid-area: main;
   background-color: #000000;
}

.side1{ /*DO NOT REMOVE*/
    grid-area: side1;
        background-color: #FF9500;
        text-align: right;

}

.side2{ /*DO NOT REMOVE*/
    grid-area: side2;
        background-color: #F2D666;

}

.section1{ /*DO NOT REMOVE*/
    grid-area: section1;
   background-color: #FF9500;
   font-family: 'Sigmar One', cursive;
} 


.section2{ /*DO NOT REMOVE*/
    grid-area: section2;
    background-color: #F2D666;
    text-align: left;
    font-family: 'Sigmar One', cursive;
}

.videoSection{ /*DO NOT REMOVE*/
    grid-area: videoSection;
    background-color: #F2D666;
    text-align: center;
} 

.references{
  grid-area: references;
  background-color: #FF9500;
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

.footer{ /*DO NOT REMOVE*/
    grid-area: footer;
    color: var(--main-colour);
    background-color: #F2D666;
    text-align: center;
    font-family: 'Sigmar One', cursive;
}
